In [21]:
import pandas as pd
import numpy as np
import re

In [22]:
df = pd.read_csv('all_unique_words_2.csv').drop_duplicates()
df

             kaz
0           абай
1           абақ
3           абат
4        абдәсте
5           абды
...          ...
367462      іңес
367463     іңкал
367477      ірия
367483  ірметілу
367490      міс:

[28947 rows x 1 columns]

In [23]:
df = df.dropna()
df

             kaz
0           абай
1           абақ
3           абат
4        абдәсте
5           абды
...          ...
367462      іңес
367463     іңкал
367477      ірия
367483  ірметілу
367490      міс:

[28947 rows x 1 columns]

In [24]:
def cleaning_data(code_data):
    text = code_data.kaz.tolist()
    sentences = []
    for line in range(len(text)):
        pre = re.sub(r'http\S+', '', str(text[line])).replace(r'<a href="', '')
        stripped = re.sub('[^a-zA-Z, ^А-Я,а-я,Ә,І,Ң,Ғ,Ү,Ұ,Қ,Ө,Һ,ә,і,ə,ң,ғ,ү,ұ,қ,ө,һ]', ' ', pre.replace('-', ''))
        stripped = stripped.replace('amp', ' ')
        stripped = re.sub('_', '', stripped)
        stripped = re.sub('\s+', ' ', stripped)
        sentences.append(str(stripped).lower())
    return pd.DataFrame(sentences, columns = ['kaz'])

In [27]:
df = cleaning_data(df)
df

            kaz
0          абай
1          абақ
2          абат
3       абдәсте
4          абды
...         ...
28942      іңес
28943     іңкал
28944      ірия
28945  ірметілу
28946      міс

[28947 rows x 1 columns]

In [30]:
df = df[df.kaz.str.len() > 3]
df

            kaz
0          абай
1          абақ
2          абат
3       абдәсте
4          абды
...         ...
28942      іңес
28943     іңкал
28944      ірия
28945  ірметілу
28946      міс

[25988 rows x 1 columns]

In [31]:
df.to_csv('unica.csv', index=False)